@using ProductTask.Models;

@{
    Product product = ViewBag.Product;
}

<h1>Product Details</h1>

<ul>
    <li>Id: @product.Id</li>
    <li>Name: @product.Name</li>
    <li>Price: @product.Price</li>
</ul>